{%extends 'base.html'%}

{% block title %}profile{% endblock title %}
{%block content%}
    <h1>{{ profile.user.username }}'s Profile</h1>

    <h2>Palettes:</h2>
    {% for palette in palettes %}
        <h3>Palette {{ forloop.counter }}</h3>
        <ul>
            <li style="color: {{ palette.0 }};">Color 1: {{ palette.0 }}</li>
            <li style="color: {{ palette.1 }};">Color 2: {{ palette.1 }}</li>
            <li style="color: {{ palette.2 }};">Color 3: {{ palette.2 }}</li>
            <li style="color: {{ palette.3 }};">Color 4: {{ palette.3 }}</li>
            <li style="color: {{ palette.4 }};">Color 5: {{ palette.4 }}</li>
        </ul>
        <form action="{% url 'delete-palette' palette.5 %}" method="post">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
        <p></p>
    {% endfor %}

    <form action="" method="post"> 
        {%csrf_token%}
        {{form}}
        <input type="submit" value="add">
    </form>
{%endblock%}